
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  margin-top: 0.2em;
  padding-top: 3px;

  border-radius: 2px;

  border: none;
  background-color: gray;
}
hr.seperator {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;

  padding-top: 3px;

  border: none;
  border-radius: 2px;

  background-color: gray;
}

body {
  background-color: #fdf5df;
}

/* navigation bar */
.naviBar {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 46px;
  border-radius: 10px;

  background-color: #6c757def;
}
.searchBar {
  display: flex;
  justify-content: flex-end;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;

  height: 50%;
  width: 20vw;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;

  background-color: white;
}
.submitButton {
  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  margin-right: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-right: 10px;

  height: 50%;
  width: 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;

  background-color: goldenrod;
}
.naviBar a.left {
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  height: 50%;
  border-radius: 6px;

  background-color: white;
}
.naviBar a.right {
  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  height: 50%;
  border-radius: 6px;

  background-color: white;
}
.naviBar a.seperator {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  height: 50%;
  width: 15vw;
  border-radius: 6px;
}

/* content container */
.contentContainer {
  margin-top: 60px;
  position: absolute;

  width: 80%;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;

}

/* category */
.category {
  margin-left: auto;
  margin-right: auto;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;

  width: 90%;
  border-radius: 10px;

  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;

  z-index: -1;

  /*background-color: #dad7cd;*/
  /*background-color: #a4c3b2;*/
}
.category:hover {
  box-shadow: 0 0 10px gray;

  z-index: -1;

  /*background-color: #a4c3b2;*/
}
.category a.catTitle {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 36px;
  padding-left: 2vw;
  color: black;
}

/* item */
.item {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: grid;
  word-break: break-word;
  grid-template-rows: 0fr 0fr;

  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;

  border-radius: 10px;

  transition: margin 0.2s;

  /*403d39 6c757def*/
}
.item:hover {
  margin-left: 10px;
  margin-right: 10px;
}
.itemGray {
  background-color: #343a40;
  color: #f8f9fa;
}
.itemWhite {
  color: #343a40;
  background-color: #f8f9fa;
}

.itemTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}
.item a.desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.itemCloseBtn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 5px;
}

/* category add */
.addCatFormContainer {
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  padding-left: 40px;
  padding-right: 40px;
  
  border-radius: 10px;

  width: 90%;
  height: 1.5em;

  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease, height 0.1s ease-in-out;
  
  z-index: -1;

  background-color: grey;  
}
.addCatFormContainer:hover {
  box-shadow: 0 0 10px gray;
}
.addCatFormContainer-noHover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.addCatFormContainerExpanded {
  cursor: auto;

  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto auto;
  
  width: 90%;
  height: 6.5em;
  z-index: -1;
}
.addCatFormContainer a.plus {
  width: 50px;
  height: 50px;
}

/* popup */
.addCatFormPopupBackground {
  position: fixed;
  top: 0px;
  left: 0px;

  overflow: hidden;

  width: 100%;
  height: 100vh;

  background-color: rgb(202, 202, 202);
  opacity: 60%;
}
.addCatFormPopup {
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40%;
  height: 40vh;
  border-radius: 10px;

  background-color: whitesmoke;
}

/* drop down */
.addCatFormContainerAlt {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
  font-size: 50px;

  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto auto;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  
  width: 90%;
  z-index: -1;

  background-color: antiquewhite;
}
.addCatFormContainer a.addCatFormTitle {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  text-align: start;

  padding-top: 5px;

  color: black;
}
.addCatFormContainer a.closeBtn {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  text-align: center;

  padding-top: 5px;

  color: black;
}
.catNameInput {
  font-size: 24px;

  margin-bottom: 10px;

  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;

  background-color: white;
}
.catNameSubmitButton {
  cursor: pointer;

  margin-bottom: 10px;

  padding-right: 10px;

  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;

  background-color: goldenrod;
}
