.naviBar {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;

  display: flex;
  align-items: center;
  justify-content:center;
  overflow: hidden;

  margin-left: 10vw;

  position: fixed;
  top: 0;
  left: 0;
  height: 2.5em;

  width: 90%;
  height: 5vh;

  background-color: #6c757def;
}
.searchBar {
  display: flex;
  justify-content: flex-end;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;

  height: 50%;
  width: 10em;
  min-width: 2em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;

  background-color: white;
}
input::placeholder {
  font-size: 16px;
}
.submitButton {
  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  margin-right: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-right: 10px;

  height: 50%;
  width: 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;

  background-color: goldenrod;
}
.naviBar a.btn {
  cursor: pointer;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  height: 50%;
  border-radius: 6px;

  background-color: white;
}
.naviBar a.left {
  margin-left: 10px;
}
.naviBar a.right {
  margin-right: 10px;
}
.naviBar a.seperator {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  height: 50%;
  width: 5em;
  border-radius: 6px;
}