/* tickbox */
.tickbox {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0.95em;
  margin-left: 0.80em;
  transform: scale(1.2);
}

.tickbox:disabled {
  pointer-events: none; /* Prevents mouse events */
  opacity: 1;
  transform: scale(1.2);
}


/* category */
.category {
  position: relative;

  color: var(--primary-text-color);

  word-break: break-word;

  margin-left: auto;
  margin-right: auto;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;

  width: 90%;
  max-width: 1000px;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;

  /*background-color: #dad7cd;*/
  /*background-color: #a4c3b2;*/
}
.category:hover {

  z-index: 0;

  /*background-color: #a4c3b2;*/
}
.category a.catTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
}

input[type="text"]:focus {
  border-radius: 5px;


}


.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}


/* item */
.item {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  word-break: break-word;

  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;

  border-radius: 10px;

  outline: 0em solid;
  box-shadow:  0 0 0 rgba(0, 0, 0, 0);

  transition: box-shadow 0.08s ease-in-out, max-height 1s ease-in-out;

  /*403d39 6c757def*/
}
.item:hover {
  z-index: 0;
}
.itemGray {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /*outline-color: #343a40;*/
}
.itemWhite {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /*outline-color: #f8f9fa;*/
  /*background-color: #f1faee;*/
}

.itemGray:hover {
  box-shadow: -0.5em 0px 0px 0px var(--secondary-color),
              0.25em 0px 0px 0px var(--secondary-color);
}
.itemWhite:hover{
  box-shadow: -0.5em 0px 0px 0px var(--primary-color),
              0.25em 0px 0px 0px var(--primary-color);
}

.itemTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin-bottom: 0.2em;
}
.desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-bottom: 0.1em;
}