.sideBar {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-text-color);

  position: fixed;

  top: 0;
  left: 0;

  width: var(--side-bar-width);

  background-color: var(--accent-color);
  outline: 1px solid var(--outline-color);
}

.corner {
  display: grid;
  place-items: center;
  height: var(--navi-bar-height);

  z-index: 1;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;

  height: var(--side-bar-height);
  top: var(--navi-bar-height);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  gap: 0rem;

  /*box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);*/
}

.btn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-text-color);

  width: 80%;
  padding: 10px;
  border-radius: 10px;

  transition: background-color 0.1s ease-in-out;
}
.btn:hover {
  background-color: white;
}

.accountBtn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 100%;

  transition: background-color 0.1s ease-in-out;
}
.accountBtn:hover {
  background-color: white;
}
